@import './variables';
@import './mixins';

* {
  font-family: $font-family;
}

body {
  background-color: white;
  user-select: none;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.quiz-selection {
    flex-direction: row;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    button {
      min-height: 80px;
      max-width: 230px;
      @include buttonStyles(transparent, $gray);
    }
  }

  button {
    @include buttonStyles(transparent, $gray);

    &.correct {
      @include buttonStyles(green, green);
    }

    &.incorrect {
      @include buttonStyles(red, red);
    }
  }
}

.question-section {
  text-align: center;
  font-size: 1.7rem;

  .question-count {
    display: block;
    font-size: 14px;
    color: gray;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.score-section {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    @include buttonStyles(transparent, $gray);
  }

  img {
    margin-bottom: 10px;
    max-width: 100px;
  }

  p {
    color: #808080;
    margin: 5px;
    font-weight: 300;
    font-size: 15px;
  }
}

.info {
  text-align: center;

  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
  }

  p {
    color: #808080;
    margin: 5px;
    font-weight: 300;
  }
}

.logo {
  max-width: 100px;
}

.answer-feedback {
  font-size: 14px;
  background-color: $gray;
  font-weight: 200;
  border-radius: 20px;
  width: fit-content;
  padding: 10px;
  margin: 0 auto;
}